<?xml version="1.0" encoding="utf-8"?>
<config>
	<dir>
		<workdir path="/home/ambra/Desktop/cluster-morgana/run0406_test/run0406/" />
		<runpath path="${workdir}run0406_ID000126/" />
		<datapath path="${runpath}data/" />
		<simpath path="${runpath}sim/" />
		<selectpath path="${runpath}selected_sim/" />
		<detpath path="${runpath}detection_all/" />
		<csvpath path="${runpath}csv/" />
	</dir>
	<xml>
		<src idAttribute="name">
			<free prm="Prefactor" />
			<free prm="Index" />
			<free prm="RA" />
			<free prm="DEC" />
		</src>
		<bkg idAttribute="name">
			<free prm="Prefactor" />
			<free prm="Index" />
		</bkg>
	</xml>
</config>
